<!DOCTYPE html>
<html ng-app="calendar-manager">
  <head>
    <title>Calendar Manager</title>
    <meta name="viewport" initial-scale=1">

	<!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/calendar-manager-style.css' />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body ng-controller="calendar-options">
    <simple-calendar events="events" options="calendarOptions"></simple-calendar>	

    <!-- jQuery Library -->
    <script type="text/javascript" src="/javascripts/lib/jquery-2.2.4.min.js""></script>

    <!-- Angular Library -->
  	<script type="text/javascript" src="/javascripts/lib/angular.min.js"></script>

  	<!-- Firebase Libraries -->
    <script type="text/javascript" src="/javascripts/lib/firebase.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angularfire.min.js"></script>

    <!-- Bootstrap Library -->
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>


    <!-- Angular app scripts -->
  	<script type="text/javascript" src="/javascripts/main/main.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/sinchronized-array.js"></script>
    <script type="text/javascript" src="/javascripts/services/firebase-service.js"></script>
  	<script type="text/javascript" src="/javascripts/controllers/calendar-options.js"></script>
  	<script type="text/javascript" src="/javascripts/controllers/main-controller.js"></script>
    <script type="text/javascript" src="/javascripts/directives/calendar-module.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/dialog.js"></script>
  </body>
</html>