<div class="calendar-main-wrapper">
      <div class="current-month"> 
            <div class="move-month prev-month" ng-click="prevMonth()"> 
                  <span ng-show="allowedPrevMonth()">&#x2039;</span> 
            </div> 
            <span>{{ selectedMonth }}</span> 
            &nbsp; 
            <span>{{ selectedYear }}</span> 
            <div class="move-month next-month" ng-click="nextMonth()"> 
                  <span ng-show="allowedNextMonth()">&#x203a;</span> 
            </div> 
      </div> 

      <div class="week-days-header"> 
            <div ng-repeat="day in weekDays(options.dayNamesLength) track by $index" class="weekday">
                  {{ day }}
            </div> 
      </div> 
      <div class="weeks-wrapper"> 
            <div ng-repeat="week in weeks track by $index" class="week"> 
                  <div class="day" 
                  ng-class="{default: isDefaultDate(date), event: date.event.length > 0, disabled: date.disabled || !date}" 
                  ng-repeat="date in week  track by $index"
                  ng-click="onClick(date)" data-toggle="modal" data-target="#exampleModal">
                        <div class="day-number">
                              {{ date.day || "&nbsp;" }}
                        </div> 
                        <div class="event-title"
                        ng-repeat="events in date.event | limitTo : options.maxEventsPerDay"
                        ng-if="options.multiEventDates">{{ events.title || "&nbsp;" }}
                              <div ng-if="date.event.length > options.maxEventsPerDay">
                                    Más eventos
                              </div>
                        </div>	  	  
                        <div class="event-title" ng-if="!options.multiEventDates">
                              {{ date.event.title || "&nbsp;" }}
                        </div> 
                  </div> 
            </div> 
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                  <div class="modal-content">
                        <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="exampleModalLabel">Añadir evento</h4>
                        </div>
                        <div class="modal-body">
                              <form>
                                    <div class="form-group">
                                          <label for="event-title" class="control-label">Título:</label>
                                          <input type="text" class="form-control" id="event-title">
                                    </div>
                                    <div class="form-group">
                                          <label for="event-hour" class="control-label">Hora:</label>
                                          <input type="text" class="form-control" id="event-hour">
                                    </div>
                                    <div class="form-group">
                                          <label for="event-user" class="control-label">User:</label>
                                          <input type="text" class="form-control" id="event-user">
                                    </div>
                              </form>
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              <button id="add-event-button" type="button" class="btn btn-success">Añadir evento</button>
                        </div>
                  </div>
            </div>
      </div>
</div>