simple-calendar * {
  user-select: none;
}

simple-calendar .hidden {
  display: none;
}

simple-calendar .calendar{
  padding: 0;
  border: 1px solid #dddddd;
  user-select: none;
  background-color: #fff;
}

simple-calendar .move-month {
  cursor: pointer;
}

simple-calendar .prev-month {
  float: left;
}

simple-calendar .next-month {
  float: right;
}

simple-calendar .current-month {
  text-align: center;
  padding: 20px 8px;
  background-color: burlywood;
  font-size: 3rem;
}

/* *********************** */
/* START Week CSS Settings */
/* *********************** */
simple-calendar .weeks-wrapper {
  height: 100%;
}

simple-calendar .week {
  height: calc(20vh - 25.01px);
}

simple-calendar .week.six-rows {
  height: calc(16.666vh - 27.1px);
}

simple-calendar .week:last-child .day {
	height: inherit;
	overflow:hidden;
  border-bottom: 1px solid #dddddd;
}

/* ********************* */
/* END Week CSS Settings */
/* ********************* */

/* ************************** */
/* START Weekday CSS Settings */
/* ************************** */

simple-calendar .weekday {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #dddddd;
  background-color: khaki;
}

simple-calendar .weekday:first-child {
  text-align: center;
  border-left: 1px solid #dddddd;
}

simple-calendar .weekday:last-child {
  text-align: center;
  border-right: 1px solid #dddddd;
}

/* ************************ */
/* END Weekday CSS Settings */
/* ************************ */

simple-calendar .week .day:last-child {
  border-right: 1px solid #dddddd;
}

simple-calendar .week .day:nth-child(1) {
  border-left: 1px solid #dddddd;
}

simple-calendar .week .day:nth-child(7) {
  border-right: 1px solid #dddddd;
}

simple-calendar .weekday, .day {
  display: inline-block;
  width: calc(100% / 7);
}

simple-calendar .day {
  height: inherit;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 1px solid #dddddd;
  border-bottom: none;
  border-left: none;
  overflow: hidden;
}

simple-calendar .day-number {
    text-align: center;
    font-size: 2rem;
}

simple-calendar .day:hover {
  cursor: pointer;
}

simple-calendar .day.default {
  background-color: lightblue;
}

simple-calendar .day.event {
  background-color: #fdf3ea;
}

simple-calendar .day.disabled {
  cursor: default;
  color: silver;
  background-color: white;
}

simple-calendar .event-title {
  margin: 5px 10px;
  padding: 2%;
  text-align: center;
  background-color: bisque;
  border-radius: 15px;
}

@media (max-width: 800px), (max-height: 800px) {

  simple-calendar .day-number {
    font-size: 1.5rem;
  }

}

@media (max-height: 481px) {

  simple-calendar .event-title {
    font-size: 1rem;
  }

}

@media (max-width: 479px), (max-height: 479px) {

  simple-calendar .event-title {
    font-size: 1rem;
  }

  simple-calendar .day-number {
    font-size: 1rem;
  }
}